/* Dark Mode overrides */
@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
  }
  .content {
    background: #000;
  }
  .content section:nth-child(odd) {
      background-color: #141414;
  }
}